<p id="notice"><%= notice %></p>

<p>
  <strong>Slot number:</strong>
  <%= @timeslot.slot_number %>
</p>

<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
